.hero-container {
  background-color: var(--primary-light);
  height: 240px;
  display: flex;
}

.hero-left {
  width: 50%;
  color: var(--primary-dark);
}

.hero-right {
  width: 50%;
  background-color: var(--primary-dark);
  display: flex;
  align-items: center;
  padding: 30px;
}

.logo-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 2rem;
  color: var(--primary-light);
  padding-left: 12px;
}
.logo-text span {
  font-size: 4rem;
  font-style: italic;
}
q {
  font-size: 1.5rem;
  text-align: center;
  font-style: italic;
}

.icons {
  margin-top: 48px;
}

.icon1 svg {
  transform: rotate(25deg) translate(16px);
  animation: slidein 3s;
  position: relative;
}
.icon2 svg {
  transform: rotate(-25deg) translate(24px);
  animation: slidein 3.5s;
  position: relative;
}
.icon3 svg {
  transform: rotate(45deg) translate(48px, 24px);
  animation: slidein 4s;
  position: relative;
}
.icon4 svg {
  transform: rotate(-45deg) translate(32px);
  animation: slidein 4.5s;
  position: relative;
}
.icon5 svg {
  transform: rotate(25deg) translate(64px, 32px);
  animation: slidein 5s;
  position: relative;
}
.icon6 svg {
  transform: translate(32px, -32px);
  animation: slidein 5.5s;
  position: relative;
}

@keyframes slidein {
  from {
    left: -500px;
  }

  to {
    left: 0;
  }
}

@media (max-width: 820px) {
  .hero-left {
    display: none;
  }
  .hero-right {
    width: 100%;
    justify-content: center;
  }
}
@media (max-width: 600px) {
  q {
    display: none;
  }
}
