body{
    overflow-x: hidden;
}
.backdrop{
width: 100%;
mask-image: linear-gradient(rgba(0, 0, 0, 1.0), transparent);
}

.top-section{
    position: relative;
    left: 15%;
    top:-450px;
    display: flex;
}

.poster {
    height: 300px;
}

.top-info{
    position: relative;
    top: 120px;
    left: 24px;
}

.top-info h2{
    font-size: 4rem;
    max-width: 80%;
}

.genres a{
    margin-right: 16px;
    color:var(--primary-link)
}
.genres a::before{
    content: '◉'
}

.tagline{
    color: var(--secondary-text);
    font-size: 1.2rem;
}

.score-trailer{
    display: flex;
    margin: 48px 0 36px;
}

.trailer{
    display: flex;
    align-items: center;
    margin-left: 36px;
}

.runtime{
    display: flex;
    margin-right: 36px;
}

.overview p{
    color: var(--secondary-text);
    max-width: 800px;
}

.info-section{
    margin-left: 30%;
    margin-top: -250px;
}