.network-logo {
  background-color: rgba(255, 255, 255, 0.45);
  padding: 6px;
  border-radius: 6px;
}

.additional-info {
  display: flex;
  align-items: center;
  margin: 12px 0;
}

.additional-info img {
  margin-right: 24px;
}
