.App {
  text-align: center;
  --primary-dark : #1c1f54;
  --primary-light: #26c897;
  --primary-background: #191923;
  --secondary-light: #279ba1;
  --primary-button: #298cbe;
  --primary-purple: #5b326d;
  --primary-red: #a72a3c;
  --primary-text: #fff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.test {
 cursor: pointer;
 border: 0 red ;
 align-items: center;
 background-color: rgba(var(--primary-dark), 0.6);
 bac

  margin: 0 16px;
}
